nav {
    padding: 16px;
    background-color: #406039;
    border-radius: 0px 0px 15px 15px;
}

.navlinks {
    color: #c2cdbf;
    font-style: normal;
    text-decoration: none;
}
.navlinks:hover {
    color: #eaeee9;
}

main {
    padding: 16px;
    margin-bottom: 20px;
}

body {
    margin: auto;
    max-width: 1000px;
    font-family: Roboto;
}

img {
    height: 200px;
}

h1 {
    color: #0d3108;
}

h2 {
    color: #406039;
}

tr:nth-child(even) {
    background-color: #eaeee9;
}
th {
    background-color: #d6ddd4;
}
.entry {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

}

.card {
    background-color: #d6ddd4;
    border-radius: 15px;
}

.restitle {
    color: #001600;
    font-style: normal;
    text-decoration: none;
    border-radius: 15px 15px 0px 0px;
    height: 20px;
    padding: 15px;
    transition: background-color 0.5s;
}
.restitle:hover {
    background-color: #eaeee9;
}
.restitle a {
    text-decoration: none;
    color: #001600;
    font-size: 20px;
}

.rating {
    background-color: #eaeee9;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

footer {
    padding: 24px, 0px;
    padding: 30px;
    background-color: #406039;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    color: #eaeee9;
}
